	<script type="text/javascript" src="/assets/js/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/bootstrap/toolkit.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/moment/moment.min.js"></script>
	<script type="text/javascript" src="/assets/js/index.js?v={{site.version}}"></script>
</body>

</html>