<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/css/lib/bootstrap/toolkit-minimal.min.css?v=0.0.1">
	<link rel="stylesheet" type="text/css" href="/assets/css/index.css?v={{site.version}}" />
	<title>{{site.name}}</title>
</head>

<body {{#user.inverted}}class="dark"{{/user.inverted}}>