{{> nav}}
<div class="block">
    <div class="container text-center">
        <h1 class="block-title m-b-sm text-uppercase">Loqui.Me</h1>
        <p class="lead m-b-lg p-b-md">Oops, Page not found</p>
        <p><a href="#!/" class="btn btn-default-outline">Home</a></p>
        {{> message}}
    </div>
</div>