{{> head}}

{{> nav}}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>About AlphaReign</h2>
			<p>
				<strong>Welcome to AlphaReign.</strong>  We aim to be the easiest and most straight-forward torrent search engine on the planet.
			</p>

			<p>
				We have always hated the annoying ads, the 15 fake download buttons and the excessive tracking that many torrent sites have so we decided to do something about it.  We believe that privacy and anonymity are important parts of your browsing experience and that sites should be fast, uncomplicated and easy to use.
			</p>
			<hr>
			<p>
				So here is why AlphaReign is different:
				<ul>
					<li>No third party ads, tracking or resources.  This ensures that no matter what, no one else knows what happens on this site</li>
					<li>HTTPS only.  We don't have an insecure page on us</li>
					<li>No logs or information that would de-anonymize our users (no recording of IP addresses, emails, etc)</li>
				</ul>
				In short, we do not track anything that would risk putting our users privacy or anonymity.  On top of that, our privacy policy is not ever release any information to any person or company to the best of our abilities.
			</p>
			<hr>
			<p>
				<strong>Technical Details</strong>: AlphaReign is a private search engine.  It requires a login so that we can protect our site and server from abuse and have the ability to ban people for trolling and abuse.  AlphaReign is a DHT Search Engine that scans the DHT network for active torrents and pulls in information and indexes the data to make it search-able by you.
			</p>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>

{{> foot}}