<?xml version="1.0" encoding="UTF-8"?>
<caps>
	<server version="1.0" title="site" strapline="..." email="{{site.contact}}" url="{{site.url}}" image="{{site.url}}/assets/img/logo-small.png"/>

	<limits max="100" default="25"/>

	<registration available="no" open="no" />

	<searching>
		<search available="yes" supportedParams="q" />
		<tv-search available="yes" supportedParams="q" />
		<movie-search available="no" supportedParams="q" />
	</searching>

	<categories>
		<category id="movie" name="Movies" description="Latest Movies"/>
		<category id="show" name="TV Shows" description="Latest TV Shows"/>
		<category id="album" name="Albums" description="Latest Albums"/>
		<category id="ebook" name="eBooks" description="Latest eBooks"/>
	</categories>
</caps>