{{> head}}

{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Privacy Policy</h2>
            <p>
                We (known as AlphaReign)  will never share your information with anyone unless mandated by a countries government that we are forced to provide.  Because of the risk of government seizure, we do not log any personal information except those detailed below.
            </p>
            <p>
                We do not record IP addresses, email addresses or any other piece of information deemed as personal.  Usernames and passwords are considered anonymous user information as no requirement (other than security requirements) are placed on them.  Logging of users is recorded only through server requests and no third party applications.  We retain page requests, queries and browser information (User Agent String) to help improve the functionality of our site and debug problems.  All passwords are stored using secure encryption.
            </p>
            <p>
                Data will be retained for the life of the site or until user account deletion.  Upon user account delete, any user information (username, password, settings) will be removed from our system immediately.  If AlphaReign ever shuts down, we will delete all information about users from our database.
            </p>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

{{> foot}}