{{> head}}
<div class="block">
    <div class="container text-center auth">
        <h1 class="block-title m-b-sm text-uppercase"><a href="/">
            <img src="/assets/img/logo-small.png">
            {{site.name}}
        </a></h1>
        <p class="lead m-b-lg p-b-md">{{site.lead}}</p>

        <div class="auth-form">

            <div class="text-center">
                <h3>VIP Membership is currently disabled</h3>
            </div>

        </div>
    </div>
</div>
{{> foot}}